.root {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    // width: 300rem;
    // height: 200rem;
    background-color: white;
    font-size: 12rem;
    color: black;
    padding: 12rem;

    .chart {
        width: 350rem;
        height: 200rem;
    }
}