.root {
    --border-radius: 16rem;
    --avatar-frame-size: 100rem;
    --avatar-x-center: 150rem;
    --avatar-img-ratio: 0.8;
    --hightlight-color: #cbff8b;
    // --hightlight-color: rgb(234, 108, 168);
    width: 500rem;
    height: 300rem;
    // border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;


    .bg, .svg, .content, .avatar_layer, .sidebar, .rank, .moto {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        pointer-events: none;
        >* {
            pointer-events: all;
        }
    }

    .moto_ani {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
        animation-name: slide-animation;
    }

    .svg, .content {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: 1s;
        animation-name: slide-animation;
        transform: translate(-200rem, 0);
    }

    .sidebar .title, .sidebar .date, .avatar_layer {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        // animation-delay: 1.2s;
        animation-name: slide-animation;
        transform: translate(-200rem, 0);
    }

    .sidebar .title {
        animation-delay: 1.1s;
    }

    .avatar_layer {
        animation-delay: 1.3s;
    }

    .sidebar .date {
        animation-delay: 1.5s;
    }



    .extra_info {
        animation-duration: 1.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: 2.5s;
        animation-name: silde-end-animation;
        transform: translate(200rem, 0);
    }

    @keyframes slide-animation {
        from {
            transform: translate(-200rem, 0);
        }

        to {
            transform: translate(0, 0);
        }
    }

    @keyframes silde-end-animation {
        from {
            transform: translate(200rem, 0);
        }

        to {
            transform: translate(0, 0);
        }
    }

    

    .content {
        clip-path: url(#myClip);
        // background: rgba(red, 0.2);
        backdrop-filter: blur(20rem);
    }
    .bg {
        object-fit: cover;
        animation-name: scale-animation;
        animation-duration: 2.5s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: 1s;
        // filter: saturate(80%) brightness(70%) contrast(80%);
    }

    @keyframes scale-animation {
        from {
            filter: saturate(100%) brightness(100%) contrast(100%);
        }

        to {
            transform: scale(1.2, 1.2);
            filter: saturate(80%) brightness(70%) contrast(80%);
        }
    }

    .svg {
        filter: drop-shadow(0 0 24rem #00000033);
    }

    @keyframes rank-animation {
        from {
            transform: scale(1.2);
            opacity: 0;
        }

        to {
            transform: scale(1);
            opacity: 0.8;
        }
    }

    .rank {
        
        // filter: saturate(80%) brightness(80%);
        
        font-family: 'Cyberpunks';
        font-size: 170rem;
        line-height: 1;
        text-align: right;
        display: flex;
        justify-content: flex-end;
        color: transparent;
        // color: #ffffff11;
        // color: blue;
        // filter: drop-shadow(0 0 8rem #00000022);
        // -webkit-text-stroke: 1rem #00000003;
        
        div {
            animation-duration: 1.5s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;
            animation-delay: 1s;
            animation-name: rank-animation;
            transform: scale(1.2);
            opacity: 0;

            background-color: rgba(255, 255, 255, 0.1);    
            backdrop-filter: blur(30rem) contrast(200%) saturate(105%);
            // opacity: 0.8;
            clip-path: url(#rankClip);
            margin-right: 16rem;
        }
    }
    .moto {
        display: flex;
        flex-direction: column;
        font-size: 30rem;
        justify-content: center;
        text-align: start;
        vertical-align: super;
        font-family: 'HYLiShengHongXiaKeXing';
        color: #ffffff99;

        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: 1;
        animation-delay: 0.5s;
        animation-name: moto-animation;

        transform: translate(0, 50rem);
        opacity: 0;

        div {
            text-indent: 2em;
            margin-left: 200rem;
            padding: 16rem;
            margin-bottom: 30rem;
            filter: drop-shadow(0 0 8rem #00000022);

            // background-color: red;
        }
    }

    @keyframes moto-animation {
        from {
            transform: translate(0, 50rem);
            opacity: 0;
        }

        50% {
            opacity: 1;
        }

        to {
            transform: translate(0, 0);
            opacity: 1;
        }
    }


    .sidebar {
        
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: flex-start;


        span {
            text-align: left;
            line-height: 1;
            filter: drop-shadow(0 0 6rem #00000055);
        }
        .title {
            white-space: pre-wrap;
            font-family: 'fira code';
            font-size: 3.1rem;
            color: #ffffffaa;
            text-align: left;
            margin-top: 24rem;
            letter-spacing: 0.2rem;
            margin-left: 12rem;
        }
        .date {
            font-size: 10rem;
            font-family: 'alarm clock';
            margin-bottom: 6rem;
            margin-left: 20rem;
            color: #ffffff88;
        }
    }
    >.extra_info {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 50rem;
        height: 50rem;
        padding: 6rem;
        margin-bottom: 16rem;
        margin-right: 16rem;
        border-radius: 8rem;
        backdrop-filter: blur(20rem);
        filter: drop-shadow(0 0 6rem #00000088);
        overflow: hidden;
        background-color: #ffffff55;
        box-shadow: inset 0 0 12rem #ffffff22;
    }
    .avatar_layer {
        --calendar-block-size: 8rem;
        --calendar-block-gap: 3rem;
        --calendar-padding: 14rem;
        --calendar-block-per-line: 7;

        display: flex;
        align-items: center;
        font-size: 15rem;

        .calendar {
            display: grid;
            grid-template-columns: repeat(var(--calendar-block-per-line), var(--calendar-block-size));
            padding: var(--calendar-padding);
            grid-gap: var(--calendar-block-gap);
            >div {
                height: var(--calendar-block-size);
                background-color: #ffffff22;
                box-shadow: inset 0 0 4rem #ffffff55;
                border-radius: 2rem;
                filter: drop-shadow(0 0 8rem #00000088);
                transition: background-color 1s, box-shadow 1s, filter 1s;
            }

            .hidden {
                visibility: hidden;
            }

            .checked {
                // background-color: #ffffffbb;
                // box-shadow: inset 0 0 2rem var(--hightlight-color);
                // filter: drop-shadow(0 0 4rem var(--hightlight-color));
                animation-name: checked-animation;
                animation-duration: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;
            }

            @keyframes checked-animation {
                to {
                    background-color: #ffffffbb;
                    box-shadow: inset 0 0 2rem var(--hightlight-color);
                    filter: drop-shadow(0 0 4rem var(--hightlight-color));
                }
              }
        }

        .frame {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #ffffff44;
            width: var(--avatar-frame-size);
            height: var(--avatar-frame-size);
            border-radius: 50%;
            margin-left: calc(var(--avatar-x-center) - var(--avatar-frame-size) / 2 - var(--calendar-block-per-line) * var(--calendar-block-size) - (var(--calendar-block-per-line) - 1) * var(--calendar-block-gap) - var(--calendar-padding) * 2);
            filter: drop-shadow(0 0 24rem #00000033);
            box-shadow: inset 0 0 24rem #ffffff22;
            backdrop-filter: blur(10rem);

            animation-name: img-frame-animation;
            animation-duration: 2s;
            animation-delay: 1s;
            animation-fill-mode: forwards;
            animation-iteration-count: 1;

            transform: scale(0.5, 0.5);

            @keyframes img-frame-animation {
                from {
                    transform: scale(0.5, 0.5);
                }

                to {
                    transform: scale(1, 1);
                }
            }

            .img {
                width: calc(100% * var(--avatar-img-ratio));
                height: calc(100% * var(--avatar-img-ratio));
                border-radius: 50%;
                overflow: hidden;
                filter: drop-shadow(0 0 8rem #00000055);

                animation-name: img-cnt-animation;
                animation-duration: 2s;
                animation-delay: 1s;
                animation-fill-mode: forwards;
                animation-iteration-count: 1;

                img {
                    width: 100%;
                    height: 100%;

                    animation-name: img-animation;
                    animation-duration: 2s;
                    animation-delay: 1.5s;
                    animation-fill-mode: forwards;
                    animation-iteration-count: 1;
                    transform: scale(1.5, 1.5);
                }

                @keyframes img-animation {
                    from {
                        transform: scale(1.5, 1.5);
                    }

                    to {
                        transform: scale(1, 1);
                    }
                }

                @keyframes img-cnt-animation {
                    70% {
                        transform: scale(1, 1);
                        filter: none;
                    }

                    80% {
                        transform: scale(1.1, 1.1);
                        filter: brightness(150%) saturate(150%);
                    }

                    to {
                        transform: scale(1, 1);
                        filter: none;
                    }
                }
            }

            // img {
            //     width: calc(100% * var(--avatar-img-ratio));
            //     height: calc(100% * var(--avatar-img-ratio));
            //     border-radius: 50%;
            //     overflow: hidden;
            //     filter: drop-shadow(0 0 8rem #00000055);
            // }
        }
    }
}