.root {
    width: 100rem;
    height: 100rem;
    // border-radius: var(--border-radius);
    overflow: hidden;
    position: relative;
    background-color: chocolate;
    display: flex;
    justify-content: center;
    align-items: center;


    animation: spin 1.5s linear 1 forwards;

    .block {
        width: 50rem;
        height: 50rem;
        background-color: forestgreen;
        animation:spin 1s linear infinite;
    }
}

@keyframes spin { 
    100% { 
        background-color: darkolivegreen;
    } 
}